@import "tailwindcss";

@utility container {
  @apply mx-auto px-4 lg:px-8
}
.logo {
  @apply inline-block text-2xl font-bold bg-linear-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent
}